.img-con{
    background-image: url("imagenes/img-1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    color: aqua;
}
