.contenedor_foto_perfil{
background-image: url(imagenes/img-1.jpg)
    width: 280px;
    height:250px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border: 7px solid #5106e8;
    margin: 5px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);


}
.contenedor_foto_perfil img{
    width: 100%;
    height: auto;
    display: block;

}
.nombre_puesto{
    display: inline-block;
    vertical-align: middle;
    margin-left: 1%;
    
}
.contenido_cv{
    display: flex;
    width: 100%;
}
.logros{
    display: inline-block;
    vertical-align: top;
    background-color: #5106e8;
    padding: 5%;
    width: 28%;

}
.logros ul{
    margin-left: 5%;
}