body{
    background-color: black;
}
.fondoInicial{
    color: azure;
}
.Home{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 25px;

    
    opacity: 1;
   
    margin:-180px 100px 00px 900px;
}


.fondo__fondoInicial--Logo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 25px
px;
    
    
    opacity: 1;

    margin:30px 0px 100px 300px;
}
.fondo__img-1{
    width: 430px;
    margin: -70px 0px 0px 700px;

}
.fondo__fondoInicial--Logo{
    font-size:35px ;
}
.fondo__fondoInicial--Start{
    font-family: "letricas3";
    font-size: 68px;
    margin: 50px 0px 0px 670px;
}
.fondo__WITH{
    font-family:"letricas3" ;
    font-size: 68px;
    margin: -100px 0px 0px 380px;
}
#fondo__main-container{

    text-align: center;
    margin: -180px 0px 0px 50px;
    font-weight: 900;
    font-family:"letricas1";
}
.btn{
    text-decoration:3px ;
    text-decoration: none;
    padding: 12px 25px;
    display: inline-block;
    text-shadow: 0 1px 0 rgba( 0 0 20px #fefcc9, 2px -2px 3px #feec85, -4px -4px 5px #ffae34, 5px -10px 6px #ec760c, -5px -12px 8px #cd4606, 0 -15px 20px #973716, 2px -15px 20px #451b0e);
    box-shadow: 0px 1px 0 rgba(0,0,0,0.3);
   
    

    


}
.btn-green{
    color: black;
    background-color: #f5b041;

    

    
    
}
.btn-green:hover{
    background-color:#e67e22 ;

}
#fondo__main-container4{

    text-align: center;
    margin: -50px 0px 0px -150px;
    font-weight: 900;
    font-family:"letricas1";}
.btn--black{
    color: white;
}

@font-face{
    font-family: "letricas1";
    src: url(../Dia8/letras/Barlow-Bold.ttf);
}
@font-face{
    font-family: "letricas2";
    src: url(../Dia8/letras/open-sauce.one-semibold.ttf);
}
@font-face{
    font-family: "letricas3";
    src: url(../Dia8/letras/PlayfairDisplay-Black.ttf);
}
.fondo__img-2{
    width: 700px;
    margin: 0px 0px 0px -50px;
}
.fondo__img-2--Titulo{
    font-size: 68px;
    font-family: "letricas3";
    margin: -450px 0px 0px 770px;
    color: white;


}
.fondo__img-2--raya{
    margin: -310px 0px 0px 870px;
    width: 0px;
    font-weight: 1500;


}
.fondo__img-2--letras{
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
color: white;
margin: -350px 0px 0px 910px;
font-weight: 400;
}
.fondo__img-3--titulo{
    font-size: 60px;
    font-family: "letricas3";
    margin: -580px 0px 0px -200px;
    color: white;

}
.fondo__img-3--texto{
    font-size: 18px;
    font-family: "letricas1";
    color: white;
    margin: -420px 0px 0px 80px;


}
.fondo_img-3{

    width: 550px;
    margin: 100px 0px 0px 900px;
}
#fondo__main-container2{
    text-align: center;
    margin: -100px 0px 0px 470px;
    font-weight: 900;
    font-family:"letricas1";

}
#fondo__main-container3{
    text-align: center;
    margin: -380px 0px 0px -1460px;
    font-weight: 900;
    font-family:"letricas1";



}
.fondo__img-6--titulo{
    font-size: 68px;
    font-family: "letricas3";
    color: white;
    margin: -0px 0px 0px -400px;


}
.fondo__img-7--texto{
    font-family: Arial, Helvetica, sans-serif;
    
    
    

}
.fondo__img-7{
    width: 140px;
    margin: -280px 0px 0px 50px;
    position: absolute;

}
.fondo__img-8{ 
    width: 140px;
    margin: -615px 0px 0px 750px;
    position: absolute;

}
.fondo__img-9{
    width: 140px;
    margin: -710px 0px 0px 1400px;
    position: absolute;

}
.fondo__img-7--juan{
    border: 2px solid #e67e22;
    width: 350px;
    height: 500px;
    margin: -800px 0px 0px 40px;
    border-radius: 3px;
    
    
}


.mocha{
    font-size: 26px;
    margin: -30px 0px 0px 130px;

}
.Espresso{
    font-size: 22px;
    font-weight: 400;
    margin: -80px 0px 0px 0px;

}
.fondo__img-8--texto{
    border: 2px solid #e67e22;
    width: 350px;
    height: 500px;
    margin: -627px 0px 0px 730px;
    border-radius: 3px;
    
    

}
.mocha1{
    font-size: 26px;
    margin: 100px 0px 0px 130px;

}
.Espresso1{
    font-size: 22px;
    font-weight: 400;
    margin: -80px 0px 0px -100px;
    


}

#fondo__main-container5{
    text-align: center;
    margin: -20px 0px 0px -100px;
    font-weight: 900;
    font-family:"letricas1"
}
.mocha2{
    font-size: 26px;
    margin: 100px 0px 0px 130px;


}
.Espresso2{
    font-size: 22px;
    font-weight: 400;
    margin: -80px 0px 0px -100px;


}
#fondo__main-container6{
    text-align: center;
    margin: -20px 0px 0px -100px;
    font-weight: 900;
    font-family:"letricas1"
    
    


    
}
.fondo__img-9--texto{

    border: 2px solid #e67e22;
    width: 350px;
    height: 500px;
    margin: -755px 0px 0px 1380px;
    border-radius: 3px;
}


