body{
    background-color: black;
}
.Inicial{
    color: azure;
}
.Home{
    font-size: 25px;

    
    opacity: 1;
    font-family: "letrica1";
    margin:-150px 100px 00px 900px;
}


.Logo{
    font-size: 40px;
    
    
    opacity: 1;
    font-family: "letrica1";
    margin:30px 0px 100px 300px;
}
.img-1{
    width: 430px;
    margin: -70px 0px 0px 700px;

}
.Logo{
    font-size:35px ;
}
.Start{
    font-size: 85px;
    margin: 50px 0px 0px 380px;
}
.WITH{
    font-size: 85px;
    margin: -100px 0px 0px -350px;
}
#main-container{

    text-align: center;
    margin: -200px 0px 0px 0px;
}
.btn{
    text-decoration:3px ;
    text-decoration: none;
    padding: 20px 15px;
    display: inline-block;
    text-shadow: 0 1px 0 rgba( 0 0 20px #fefcc9, 2px -2px 3px #feec85, -4px -4px 5px #ffae34, 5px -10px 6px #ec760c, -5px -12px 8px #cd4606, 0 -15px 20px #973716, 2px -15px 20px #451b0e);
    box-shadow: 0px 1px 0 rgba(0,0,0,0.3);
   
    

    


}
.btn-green{
    color: black;
    background-color: #f5b041;

    

    
    
}

